<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitTorrent_Magnet_Link_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BitTorrent_Magnet_Link_Generator.Properties.Settings>
            <setting name="TRACKER_LIST" serializeAs="String">
                <value>udp://tracker.openbittorrent.com:80
udp://tracker.opentrackr.org:1337/announce
</value>
            </setting>
        </BitTorrent_Magnet_Link_Generator.Properties.Settings>
    </userSettings>
</configuration>